.additional-check {
    display: none;
}

.choose-size-wrap-title {
    min-width: 250px;
}

.decription_modal {
    min-width: 250px;
}

.name_modal {
    min-width: 420px;
}

.check-input-title.active {
    border-color: #ed9cff;
    background-color: #ed9cff;
    color: #fff;
}

/*.error-input {*/
    /*border: 1px solid red !important;*/
/*}*/

/*.success-input {*/
    /*border: 1px solid green !important;*/
/*}*/
label.error-input {
    display: none !important;
}

.ymaps-2-1-74-controls__toolbar_left {
    display: none !important;
}

.ymaps-2-1-74-controls__toolbar_right {
    display: none !important;
}

.cartSize{
    padding-top: 10px;
    font-size: 14px;
    color: #7a7375;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.9px;
}

.display_none {
    display: none;
}

.start-video {
    position: absolute;
    top: 32%;
    right: 38%;
    left: auto;
    cursor: pointer;
}

.start-video:hover
{
    opacity: 1;
    -webkit-filter: brightness (1);
}

.-photo-modal {
    cursor: pointer;
}

.gotopage{
    color: white !important;
    cursor: pointer;
}

.gotopage_mobile {
    color: black !important;
    cursor: pointer;
}

.slick-arrow {
    display: block;
    border: 1px solid white;
    border-radius: 50%;
    padding: 30px;
    background-color: white;
    background-size: 30px;
}

.mainall {
    padding: 20px 30px;
  font-size: 24px;
   
}

.cursor_pointer {
    cursor: pointer;
}